<div class="logo">
  <img src="/images/noun_Tent_2517.svg" alt="tent image for logo" />
  <a href="/index.html"> Sleep<span class="highlight">Outside</span></a>
</div>
<button id="menu" class="show">🍔</button>
<div class="navigation">
  <ul>
    <li><a href="#">word</a></li>
    <li><a href="#">word</a></li>
    <li><a href="#">word</a></li>
    <li><a href="#">word</a></li>
    <li><a href="#">word</a></li>
    <li><a href="#">word</a></li>
  </ul>
</div>

<script src="../js/unprocessed.js" defer></script>